h2#alternative\ correct {
    color: rgb(18, 216, 18);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alternatives {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}